In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
s1= pd.Series(range(1,10,1))

In [6]:
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [7]:
s3= pd.Series({1:21, 2:13 ,3:45})

In [8]:
s3

1    21
2    13
3    45
dtype: int64

In [9]:
s2=pd.Series([1,2,3,4], index=['p','q','r','s'] ,name='one')

In [10]:
s2

p    1
q    2
r    3
s    4
Name: one, dtype: int64

In [11]:
df1=pd.DataFrame(s2)
df1

   one
p    1
q    2
r    3
s    4

In [12]:
df2=pd.read_csv("/content/sample_data/california_housing_test.csv")
#dataframe_name=pd.read_<format>(housing)

In [13]:
df2.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
7,-120.65,35.48,19.0,2310.0,471.0,1341.0,441.0,3.2250,166900.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0

In [14]:
df2.tail(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [15]:
df2['median_house_value_new']=df2['median_house_value']+111

In [16]:
df2.tail(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,median_house_value_new
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,62111.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,162611.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,500112.0

In [17]:
df2.to_json('data1.json')

In [18]:
len(df2['total_rooms'])

3000

In [19]:
df2['total_rooms'].count()

3000

In [20]:
df2['total_rooms'].mean()

2599.578666666667

In [21]:
df2['total_rooms'].sum()

7798736.0

In [22]:
df2['total_rooms'].median()

2106.0

In [23]:
df2['total_rooms'].std()

2155.593331625581

In [24]:
df2['total_rooms'].min()

6.0

In [25]:
df2['total_rooms'].max()

30450.0

In [26]:
df2['total_rooms'].describe()

count     3000.000000
mean      2599.578667
std       2155.593332
min          6.000000
25%       1401.000000
50%       2106.000000
75%       3129.000000
max      30450.000000
Name: total_rooms, dtype: float64

In [27]:
df2['total_rooms'].cumsum()

0          3885.0
1          5395.0
2          8984.0
3          9051.0
4         10292.0
          ...
2995    7790662.0
2996    7795919.0
2997    7796875.0
2998    7796971.0
2999    7798736.0
Name: total_rooms, Length: 3000, dtype: float64

In [28]:
df2.mean()

longitude                   -119.589200
latitude                      35.635390
housing_median_age            28.845333
total_rooms                 2599.578667
total_bedrooms               529.950667
population                  1402.798667
households                   489.912000
median_income                  3.807272
median_house_value        205846.275000
median_house_value_new    205957.275000
dtype: float64

In [29]:
df2.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,median_house_value_new
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500,205957.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000,22611.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000,121311.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000,177761.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000,264086.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000,500112.00000

In [30]:
df=pd.read_csv("/content/sample_data/california_housing_test.csv")

In [31]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

In [32]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [33]:
df['longitude']

0      -122.05
1      -118.30
2      -117.81
3      -118.36
4      -119.67
         ...
2995   -119.86
2996   -118.14
2997   -119.70
2998   -117.12
2999   -119.63
Name: longitude, Length: 3000, dtype: float64

In [34]:
df.iloc[:,1:3]

      latitude  housing_median_age
0        37.37                27.0
1        34.26                43.0
2        33.78                27.0
3        33.82                28.0
4        36.33                19.0
...        ...                 ...
2995     34.42                23.0
2996     34.06                27.0
2997     36.30                10.0
2998     34.10                40.0
2999     34.42                42.0

[3000 rows x 2 columns]